@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Poppins);

/* Générale */
body {
    background: #fff;
    color: #222222;
    font-family: "Poppins", sans-serif;
}

a {
    color: #f7583f;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #FF2A2A;
    outline: none;
    text-decoration: none;
}

p {
    font-size: 1rem; /* 16px */
    padding: 0;
    margin: 0 0 1.875rem 0; /* 30px */
    color: #798795;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #353535;
}

/* Title pour tous Style */
.section-header {
    margin-bottom: 1.875rem; /* 30px */
}

.section-header p {
    text-align: center;
    font-weight: 400;
    line-height: 1.625rem;
}

.section-title {
    font-size: 1.875rem;
    color: #222222;
    display: inline-block;
    font-weight: 700;
    position: relative;
}

#list-annonces {
    background-color: #f0f3f1;
}

#list-annonces .search-content {
    margin: 0 auto;
    width: 100%;
}

#list-annonces .search-content button {
    background-color: #101d29;
    color: #fff;
    border: 0;
}

#list-annonces .search-content button:hover {
    background-color: #ED4933;
    color: #fff;
}

#list-annonces .annonces-content {

    display: flex;
    align-items: top;
    justify-content: center;
    background-color: #fff;
    color: #222;
    border: 0.04rem solid #b7b7b7;
    padding: 1rem;
    border-radius: 0.5rem;
    min-height: min-content;
    overflow: auto;
}

#list-annonces .annonces-content:hover {
    border: 0.05rem solid #f7583f;
}


#list-annonces .annonces-content .left-annonces h4 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif !important;
    color: #f7583f;
}

#list-annonces .annonces-content .left-annonces a {
    color: #222;

}

#list-annonces .annonces-content .left-annonces a:hover {
    text-decoration: underline;

}

#list-annonces .annonces-content .left-annonces h5 {
    font-size: 1rem;
    font-weight: 700;
    color: #222;
    margin: 0.625rem 0;
    text-transform: capitalize;
}

#list-annonces .annonces-content .left-annonces span {
    font-size: 1rem;
}

#list-annonces .annonces-content .left-annonces p {
    font-size: 0.9rem;
    color: #565656;
}

#list-annonces .center-annonces {
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

#list-annonces .center-annonces a {
    font-size: 0.8rem;
    background-color: #21B2A6;
    color: #fff;
    padding: 0.3125rem;
    margin: 0.0625rem 0;
    display: inline-block;
    border-radius: 0.5rem;
}

#list-annonces .center-annonces a:hover {

    background-color: #f7583f;
    text-decoration: underline;

}

#list-annonces .right-annonces {
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

#list-annonces .right-annonces a {
    color: #222;
    font-weight: 700;
}

#list-annonces .right-annonces a:hover {
    text-decoration: underline;
}

@media (max-width:991px) {
    #list-annonces .annonces-content .center-annonces {
        margin: 1rem 0;
    }
}

#annonce-main {
    background-color: #f0f3f1;

}

#annonce-main p {
    color: #484848;

}

#annonce-main ul>li {
    list-style: none;
    margin: 0.625rem -1.875rem 0;
    padding: 0;
}

#annonce-main .annonce-post .annonce-post-time {
    font-style: italic;
    font-weight: 600;
}

#annonce-main .fa {
    font-size: 1.125rem;
    margin: 0 0.625rem;
    color: #f7583f;
}

#annonce-main .annonce-sidebar .bg-light a {
    color: #FF2A2A;
    font-weight: 700;
}

#annonce-main .annonce-post-details a {
    color: #f7583f;
}

#annonce-main .annonce-sidebar h5 {
    font-size: 1.25rem;
    font-weight: 900;
    font-family: Monteserat, sans-serif;
}

#all-annonces {
    background-color: #f0f3f1;;
}

#all-annonces .annonces-form{
    margin: 3rem 0;
}

#all-annonces .annonces-post .form-group{
    margin: 1.85rem 0;
}

#all-annonces .rules-form {
    padding: 1rem;
    background-color: #d1ecf1;
    color: #0c5460
}

#all-annonces .checkbox {
  
  -webkit-columns: 2 200px;
     -moz-columns: 2 200px;
          columns: 2 200px;
          margin-left: 2rem;
}

#all-annonces .checkbox ul {
    list-style: none;
    margin: -2px 0;
    padding: 0;

}
#all-annonces .btn-offre button {
    background-color: #101d29;
    color: #fff;
    width: auto;
    padding: 1.875rem;
    line-height: 0.3125rem;
    margin: auto;
    font-size: 1.125rem;
}

#all-annonces .btn-offre button:hover {
    background-color: #f7583f;
    color: #fff;
}

#all-annonces .consignes-form {
    margin: 1.25rem 0;
}

#all-annonces .consignes-form p {
    color: #798795;
    text-align: center;
}

#all-annonces .consignes-form span>p {
    color: #f7583f;
    font-size: 1.125rem;
    text-align: center;
}

.require-form{
    color:red;
    font-size: 1.25rem;
}
@media (max-width: 991px) {
    #all-annonces .annonces-post .form-group {
        width: 100%;
    }   
}

/* contact */
.contact-main {
    background-color: #f0f3f1;
}

.contact-main a {
    display: inline-block;
}

.contact-main .grid {
    display: grid;
    align-items: center;
}

.contact-main .grid-column-2 {
    grid-gap: 1.25rem;
}

.contact-main .column2 a {
    color: #5f5f5f;
    line-height: 1.5625rem;
    font-size: 0.9375rem;
    font-style: normal;
    text-decoration: none;
    transition: 0.3s ease;
}

.contact-main h4.header {
    color: #252b33;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 700;
    margin: 1.875rem 0 1.25rem 0;
}

.contact-main .column2 a:hover {
    color: #f7583f;
    text-decoration: underline;
    transition: 0.3s ease;
}

.contact-main .contact-main p {
    line-height: 1.625rem;
    font-size: 1rem;
    margin: 0;
}

.contact-main .contact-para {
    line-height: 1.5625rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}

.contact-main .column2 {
    margin-top: 1.25rem;
}

.contact-main .contact-info-align {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.9375rem;
    margin: 1.625rem 0;
}

.contact-main .icon {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #FFF5F9;
    text-align: center;
    border-radius: 50%;
}

.contact-main .icon span.fa {
    color: #f7583f;
    font-size: 1.125rem;
    text-align: center;
}

.contact-main .map iframe {
    width: 100%;
    height: 100%;
    background: #F9FAFB;
    padding: 0.625rem;
    border-radius: 0.375rem;
    -webkit-border-radius: 0.375rem;
    -o-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
}

.contact-main .column3 img {
    margin-right: 1.25rem;
}

.contact-main .column3 a {
    color: #252b33;
    font-size: 1.125rem;
    transition: 0.3s;
    margin: 0 0.5rem 0 0;
    color: #252b33;
    width: 2.25rem;
    height: 2.25rem;
    background-color: #F9FAFB;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.contact-main .column3 a span.fa {
    line-height: 2.25rem;
}

.contact-main strong.info {
    color: #252b33;
    display: block;
    margin-bottom: 0.3125rem;
}

.contact-main .column3 a.facebook:hover {
    color: #3b5998;
}

.contact-main .column3 a.twitter:hover {
    color: #1da1f2;
}

.contact-main .column3 a.linkedin:hover {
    color: #0077b5;
}

.contact-main .column3 a.instagram:hover {
    color: #c13584;
}

@media (max-width: 1024px) {
    .contact-main .grid-column-2 {
        grid-gap: 1.25rem;
    }
}

@media (max-width: 992px) {
    .contact-main .grid-column-2 {
        grid-template-columns: 1fr;
    }

    .contact-main .map iframe {
       height: 21.875rem;/* 350px */
    }

    .contact-main .head-main {
        max-width: 100%;
    }

    .contact-main .contact-main {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .contact-main .column {
        padding: 0;
    }

    .contact-main .map iframe {
        height: 15.625rem; /* 250px */
    }
}

.contact-main .main-images a {
    display: inline-block;
}

@media all and (max-width: 1400px) {
    .contact-main .contacts12-main {
        max-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .contact-main .map {
        margin-top: 2.5rem;
    }
}

.alert {
    text-align: center;
    width: 50%;
    height: 7%;
    position: absolute;
    left: 25%;
    right: 0;
    top: 25%;
    opacity: 0.8;
    z-index: 9999;
    font-size: 1.125rem; /* 18px */
}

h3.title{
  font-size: 38px;
  line-height: 46px;
  color: #334252;
  margin-bottom: 24px;
  text-transform: capitalize;
  font-weight: 600;
}


.front-dp-main .front-dp-photo {
  align-items: center;
}

.front-dp-main .front-dp-content h4 {
  color: #334252;
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}

.front-dp-main .front-dp-content h5 {
  color: #334252;
}

.front-dp-main .front-dp-content ul{
    padding: 0;
    list-style-type: none;
    color: #334252;
}

.front-dp-main .front-dp-content p {
  color: #5E6271;
  line-height: 28px;
  padding-right: 30px;
  font-weight: 400;
}

@media all and (max-width: 992px) {
  .front-dp-main .dp-photo-inf-left {
    margin-bottom: 40px;
  }

  .front-dp-main .front-dp-content h4 {
    font-size: 26px;
    line-height: 32px;
  }
}

.front-dp-main .features-main {
  border-top: 1px solid #f0f3f1;
  margin-top: 3em;
  padding-top: 4em;
}

.front-dp-main .icon_left_grid {
  text-align: center;
}

.front-dp-main .featured_grid_right_info h4 {
  font-size: 16px;
  margin-bottom: .7em;
  font-weight: 600;
  color: #334252;
}

.front-dp-main .icon_left_grid span {
  font-size: 2em;
  color: #f75940;
  margin-top: 0.1em;
}

.front-dp-main p {
  color: #5E6271;
}

.front-dp-main .features-hny-inner-gd:hover span {
  color: #3dc7be;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

@media (max-width: 736px) {
  .front-dp-main .features-main {
    border-top: 1px solid #f0f3f1;
    margin-top: 3em;
    padding-top: 3em;
  }

  .front-dp-main .icon_left_grid {
    text-align: left;
    margin-bottom: 10px;
  }

  .front-dp-main .feature-gird:nth-child(2) {
    margin: 20px 0;
  }

  .front-dp-main .banner_bottom_left.pl-lg-4 {
    margin-top: 40px;
  }

  .front-dp-main .banner_bottom_left h4 {
    font-size: 26px;
    line-height: 30px;
  }
}
/* Footer */
.footer .footer-hny {
    background: #101d29;
}

.footer .sub-columns h3 {
    color: #fff;
    font-size: 1.875rem;
    line-height: 1.875rem;
    margin-bottom: 1.25rem;
}

.footer .sub-columns p {
    font-style: normal;
    font-weight: normal;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: #8f9eab;
}

.footer .footer-hny-ul {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 1.25rem;
}

.footer .sub-two-right ul li,
.footer .sub-one-left ul li {
    padding: 0;
    list-style-type: none;
}

.footer .sub-one-left h6,
.footer .sub-two-right h6 {
    color: #fff;
    font-size: 1.375rem;
    line-height: 1.375rem;
    text-transform: capitalize;
    margin-bottom: 1.375rem;
    border-bottom: 0.0625rem solid #2e3740;
    padding-bottom: 1.375rem;
    font-weight: 700;
}

.footer .copyright-footer {
    margin-top: 0.75rem;
}

.footer ul.social.footer li,
.footer ul.jst-link li {
    display: inline-block;
    margin-right: 0.9375rem;
}

.footer ul.social.footer {
    padding: 0;
}

.footer ul.social.footer li a {
    color: #fff;
}

.footer ul.social.footer li a {
    color: #fff;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #243442;
    text-align: center;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;

}

.footer ul.social.footer li a:hover {
    background: #ff6768;
    transition: 0.3s ease;
}

.footer ul.social.footer li a span {
    color: #fff;
    font-size: 1.125rem;
}

.footer .columns.copy-right {
    text-align: right;
}

.footer .columns p,
.footer .columns p a {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #8f9eab;
}

.footer .sub-two-right ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: #8f9eab;
    margin: 0 0 0.625rem 0;
    display: block;
}

.footer .columns p a {
    color: #fff;
}

.footer .columns p a:hover,
.footer .sub-two-right ul li a:hover {
    color: #fff;
}

.footer .right-side h4 {
    font-size: 1.875rem;
    line-height: 2.5rem;
    color: #fff;
}

.footer .below-section {
    background-color: #0b1721;
    padding: 0.625rem 0;
}

@media (max-width: 992px) {

    .footer .sub-one-left h6,
    .footer .sub-two-right h6 {
        font-size: 1.25rem;
    }
}

@media (max-width: 992px) {
    .footer .copyright-footer {
        -moz-text-align-last: center;
        text-align-last: center;
    }

    .footer .copy-right {
        margin-top: 0.625rem;
    }
}

@media (max-width: 600px) {
    .footer .copyright-footer {
        -moz-text-align-last: center;
        text-align-last: center;
    }
}